<div class="login" *ngIf="!showForgotPassword && !showVerification">
  <h1>IP List Manager</h1>
  <span [ngStyle]="{'color': 'red', 'font-size': '0.85em'}" align="start">{{errorMessage}}</span>
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <ion-list>

      <ion-item class="item">
        <ion-label floating>Email Address</ion-label>
        <ion-input type="email" ngModel name="email"></ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" ngModel name="password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button secondary>Sign In</button>
    </div>
    <a href="#" (click)="forgotPassword()">Forgot your password?</a>
  </form>
  <footer>
    <img class="logo" src="../../assets/images/bol.png">
  </footer>
</div>

<div *ngIf="showForgotPassword && !showVerification">
  <h1>Password Reset</h1>
  <p class="large">To reset your password, enter the email address you use to sign in to the IP List Manager.</p>
  <form novalidate #f="ngForm" (ngSubmit)="resetPassword(f)">
    <ion-item class="item">
      <ion-label floating>Email Address</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    <button ion-button type="submit" color="primary">Reset my password</button>
  </form>
</div>


<div *ngIf="!showForgotPassword && showVerification">
  <h1>Verify Your Account</h1>
  <p>A verification email has been sent to </p>
  <p><strong>{{email}}</strong></p>
  <p>Follow the link in the verification email to be granted access to the IP List Manager</p>
  <p>If you have not received the verification email, you may click the Resend Verification Email button below</p>
  <button ion-button (click)="sendVerificationEmail()" color="primary">Resend Verification Email</button>
</div>