page-login {
    .item{
        background: #fafafa; //rgba(255, 255, 255, 0)
    }
    margin-top: 4em;
    text-align: center;
    .large {
       font-weight: 300;
        color: #636363;
        font-size: 1.2em;  
    }
    h1 {
        font-weight: 300;
        color: #636363;
        font-size: 1.5em;
    }

    a {
        font-size: .750rem;
        font-weight: 100;
        letter-spacing: 0.01em;
        color: #bcbcbe;
    }

    /* Form Styles */
    form {
        width: 340px;
        margin: 4em auto;
        padding: 3em 2em 2em 2em;
        background: #fafafa;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    }

    /* Footer Styles */

    footer p {
        color: #888;
        font-size: 13px;
        letter-spacing: .4px;
    }

    footer a {
        color: #4a89dc;
        text-decoration: none;
        transition: all .2s ease;
    }

    footer a:hover {
        color: #666;
        text-decoration: underline;
    }

    footer img {
        width: 180px;
        transition: all .2s ease;
    }

    footer img:hover {
        opacity: .83;
    }

    footer img:focus,
    footer a:focus {
        outline: none;
    }
}
