page-group-details {
  display: flex;
  flex-flow: row wrap;

    div {
        label {
            padding-top: 4rem;
            margin-left: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            color: $action-sheet-md-title-color;
        }
    }
}
