<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name"></ion-input>
      <span class="error" *ngIf="form.get('name').touched && form.get('name').hasError('required')">
        Name is required
      </span>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input formControlName="notes"></ion-input>
    </ion-item>

    <div formGroupName="ip_info">
      <label>IP Address Info</label>
      <table>
        <tr>
          <td>
            <ion-item>
              <ion-label floating>Range</ion-label>
              <ion-input formControlName="range"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
              <ion-label floating>Subnet</ion-label>
              <ion-input formControlName="subnet"></ion-input>
            </ion-item>
          </td>
        </tr>
        <tr>
          <td>
            <ion-item>
              <ion-label floating>Gateway</ion-label>
              <ion-input formControlName="gateway"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
              <ion-label floating>Dns</ion-label>
              <ion-input formControlName="dns"></ion-input>
            </ion-item>
          </td>
        </tr>
        <tr>
          <td>
            <ion-item>
              <ion-label floating>Dns2</ion-label>
              <ion-input formControlName="dns2"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
              <ion-label floating>Static Range</ion-label>
              <ion-input formControlName="static_range"></ion-input>
            </ion-item>
          </td>
        </tr>
      </table>
    </div>

    <button ion-button type="submit" color="primary" [disabled]="!form.valid || form.pristine">Save</button>
  </form>
</ion-content>