<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>IP List Manager</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let item of list">
        <ion-item (click)="showDevices(item)">
          <ion-icon style="color:#e6cb47" name="folder" item-left></ion-icon>
          <h3>{{item.name}}</h3>
          <p class="secondary-text"> {{item.notes}} </p>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="isAdmin" ion-button color="secondary" (click)="showDetails(item)">
            <ion-icon name="create"></ion-icon>Edit
          </button>
          <button ion-button color="primary" (click)="showDevices(item)">
            <ion-icon name="list"></ion-icon>Devices
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<ion-fab *ngIf="isAdmin" right bottom>
  <button ion-fab color="secondary">
     <ion-icon name="add" (click)="createGroup()"></ion-icon>
   </button>
</ion-fab>

</ion-content>