// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?798ut9');
  src:  url('../assets/fonts/icomoon.eot?798ut9#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?798ut9') format('truetype'),
    url('../assets/fonts/icomoon.woff?798ut9') format('woff'),
    url('../assets/fonts/icomoon.svg?798ut9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.label-md {
  padding-top: 5px;
}
.icon-device:before {
  content: "\e900";
  color: rgba(163, 0, 111, 1) !important;
}
.icon-hmi:before {
  content: "\e901";
  color: rgba(170, 0, 0, 1) !important;
}
.icon-pc:before {
  content: "\e902";
  color: rgba(12, 46, 192, 1) !important
}
.icon-plc:before {
  content: "\e903";
  color: rgba(119, 119, 119, 1) !important;
}
.icon-printer:before {
  content: "\e904";
  color: rgba(255, 0, 102, 1) !important;
}
.icon-switch:before {
  content: "\e905";
  color: rgba(0, 153, 204, 1) !important;
}

.logo {
  content: url('../assets/images/bol.png');
}