<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">
    <ion-item>
      <ion-label floating>Device Type</ion-label>
      <ion-select formControlName="device" #device [disabled]="!isAdmin">
        <ion-option *ngFor="let d of data" [value]="d.value">{{d.label}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input formControlName="description" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input formControlName="location" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>IP Address</ion-label>
      <ion-input formControlName="ip_address" [disabled]="!isAdmin"></ion-input>
      <span class="error" *ngIf="form.get('ip_address').touched && form.get('ip_address').hasError('required')">
        IP Address is required
      </span>
    </ion-item>

    <ion-item>
      <ion-label floating>Port Type</ion-label>
      <ion-input formControlName="port_type" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Port</ion-label>
      <ion-input formControlName="port" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>MAC Address</ion-label>
      <ion-input formControlName="mac_address" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.controls.device.value=='PC' || form.controls.device.value=='HMI'">
      <ion-label floating>PC Name</ion-label>
      <ion-input formControlName="pc_name" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.controls.device.value=='PLC'">
      <ion-label floating>PLC Type</ion-label>
      <ion-input formControlName="plc_type" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.controls.device.value=='PLC'">
      <ion-label floating>Firmware Rev.</ion-label>
      <ion-input formControlName="firmware" type="text" [disabled]="!isAdmin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Notes</ion-label>
      <ion-textarea formControlName="notes" type="text" [disabled]="!isAdmin"></ion-textarea>
    </ion-item>

    <button *ngIf="isAdmin && title != 'New Device'" ion-button type="button" color="danger" (click)="delete()">Delete</button>
    <button *ngIf="isAdmin" ion-button type="submit" color="primary" [disabled]="!form.valid || form.pristine">Save</button>

  </form>
</ion-content>