<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  
  <ion-list>
    <ion-item *ngFor="let device of devices" (click)="showDetails(device.$key)">
      <span [ngClass]="getClass([device.device])" item-left></span>
      <h3> {{device.location}} <span *ngIf="device.description"> ({{device.description}})</span></h3>
      <h3 class="secondary-text"> {{device.device}} </h3>
      <p class="secondary-text"> {{device.ip_address}} </p>
    </ion-item>
  </ion-list>

 <ion-fab *ngIf="isAdmin" right bottom>
   <button ion-fab color="secondary">
     <ion-icon name="add" (click)="createDevice()"></ion-icon>
   </button>
 </ion-fab>  
</ion-content>