<ion-header>
  <ion-navbar>
    <ion-item>
      <i class="icon ion-ios-search placeholder-icon"></i>
      <ion-input type="search" id="query" [(ngModel)]="query" name="query" (keypress)="keypress($event)" placeholder="Search"></ion-input>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click)="clear()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let device of devices" (click)="showDetails(device.$key)">
      <span [ngClass]="getClass([device.device])" item-left></span>
      <h3> {{device.location}} </h3>
      <h3 class="secondary-text"> {{device.device}} </h3>
      <p class="secondary-text"> {{device.ip_address}} </p>
    </ion-item>
  </ion-list>
</ion-content>