<!--
  Generated template for the Account page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label class="error">{{error}}</ion-label>
  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input disabled formControlName="first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input disabled formControlName="last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="email" disabled formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirm password</ion-label>
      <ion-input type="password" formControlName="confirm"></ion-input>
    </ion-item>
    <ion-label class="error" *ngIf="form.errors && form.get('confirm').value.length > 0">Passwords do not match</ion-label>

    <button type="button" ion-button color="danger" (click)="cancel($event)">CANCEL</button>
    <button type="submit" ion-button [disabled]="!form.valid || form.pristine">SUBMIT</button>
  </form>
</ion-content>